<div class="container-form-error-message"></div>
{{#locale}}
	<fieldset>
		<div id="edit-information-inner-content-container">
		<div id="inner-left" class="dynamicBox">
		<div>
			<h5>{{heading1}}</h5>
		</div>

			   <div>
			   {{#address1}}
				<div class="edit-label">
					<label for="address-1">{{label}}:</label>
				</div>
				<div class="edit-box">
					<input  class="ui-widget-content ui-corner-all ui-state-default" id="address-1" type="text" size="20" value="" maxlength="100">
				</div>
				{{/address1}}
			   </div>
			   <div>
			   {{#address2}}
				   <div class="edit-label">
					   <label for="address-2">{{label}}:</label>
				   </div>
				   <div class="edit-box">
						<input class="ui-widget-content ui-corner-all ui-state-default" id="address-2" type="text" size="20" value="" maxlength="100">
				   </div>
				{{/address2}}
			   </div>

	<div>

				{{#city}}
				   <div class="edit-label">
					   <label for="city">{{label}}:</label>
				   </div>
				   <div class="edit-box">
					<input class="ui-widget-content ui-corner-all ui-state-default"id="city" type="text" size="20" value="" maxlength="50">
				   </div>
				{{/city}}
			   </div>
			   <div>
			   {{#state}}
				   <div class="edit-label">
					   <label for="state">{{label}}:</label>
				   </div>
				   <div class="edit-box">
                   <select class="ui-widget-content ui-corner-all ui-state-default" id="state">
                   <option value="AK">AK</option>

<option value="AL">AL</option>

<option value="AR">AR</option>

<option value="AZ">AZ</option>

<option value="CA">CA</option>

<option value="CO">CO</option>

<option value="CT">CT</option>

<option value="DC">DC</option>

<option value="DE">DE</option>

<option value="FL">FL</option>

<option value="GA">GA</option>

<option value="HI">HI</option>

<option value="IA">IA</option>

<option value="ID">ID</option>

<option value="IL">IL</option>

<option value="IN">IN</option>

<option value="KS">KS</option>

<option value="KY">KY</option>

<option value="LA">LA</option>

<option value="MA">MA</option>

<option value="MD">MD</option>

<option value="ME">ME</option>

<option value="MI">MI</option>

<option value="MN">MN</option>

<option value="MO">MO</option>

<option value="MS">MS</option>

<option value="MT">MT</option>

<option value="NC">NC</option>

<option value="ND">ND</option>

<option value="NE">NE</option>

<option value="NH">NH</option>

<option value="NJ">NJ</option>

<option value="NM">NM</option>

<option value="NV">NV</option>

<option value="NY">NY</option>

<option value="OH">OH</option>

<option value="OK">OK</option>

<option value="OR">OR</option>

<option value="PA">PA</option>

<option value="PR">PR</option>

<option value="RI">RI</option>

<option value="SC">SC</option>

<option value="SD">SD</option>

<option value="TN">TN</option>

<option value="TX">TX</option>

<option value="UT">UT</option>

<option value="VA">VA</option>

<option value="VI">VI</option>

<option value="VT">VT</option>

<option value="WA">WA</option>

<option value="WI">WI</option>

<option value="WV">WV</option>

<option value="WY">WY</option>

                   </select>

                  </div>
			  {{/state}}
			   </div>
			   <div>
			   {{#zip}}
				   <div class="edit-label">
					   <label for="zip">{{label}}:</label>
				   </div>
				   <div class="edit-box">
						<input class="ui-widget-content ui-corner-all ui-state-default" id="zip" type="text" size="4" value="" maxlength="5">
				   </div>
			   {{/zip}}
			   </div>
		</div>
		<div id="inner-right">
		<div>
			<h5>{{heading2}}</h5>
		</div>
		<div>
				{{#email}}
				   <div class="edit-label">
					   <label for="email">{{label}}:</label>
				   </div>
				   <div class="edit-box">
						<input class="ui-widget-content ui-corner-all ui-state-default" id="email" type="text" size="40" value="" maxlength="100">
				   </div>
				{{/email}}
			    </div>
                  <div>
				{{#homephone}}
				   <div class="edit-label">
					   <label for="phone-home">{{label}}:</label>
				   </div>
				   <div class="edit-box">
					<input class="ui-widget-content ui-corner-all ui-state-default" id="phone-home" type="text" size="12" value="" maxlength="12">{{phoneexample}}
				   </div>
				{{/homephone}}
			   </div>
                  <div>
				  {{#cellphone}}
				   <div class="edit-label">
					   <label for="phone-cell">{{label}}:</label>
				   </div>
				   <div class="edit-box">

						<input class="ui-widget-content ui-corner-all ui-state-default" id="phone-cell" type="text" size="12" value="" maxlength="12">{{phoneexample}}

			        </div>
				{{/cellphone}}
			   </div>
		<div><span>{{form.information.instructions}}</span></div>
		<div>
			<button id="information-submit" class="ui-widget ui-widget-header ui-widget-content ui-corner-all">{{button}}</button>
			<!--<span id="accinfo-success" class="loadable success">{{success}}</span> -->
		</div>
	</div>
	</div>
	</fieldset>
{{/locale}}