<div class="widget-test-area">

<div class="ui-widget-content ui-corner-all">
<div class="header">
<h4>WIDGET TEST AREA</h4>
</div>

</div>
	<div id="widget-form-test-area">
		<form action="javascript:;" method="post" id="test-form"></form>
	</div>
</div>